[Unit]
Description=Solpipe Txproc Forwarder
After=network.target

[Service]
Type=simple
User=solpipe
Group=solpipe
WorkingDirectory=/var/share/solpipe/txproc
EnvironmentFile=/etc/default/txproc-relay
ExecStart=/usr/local/bin/solana-tx-processor server $WORKER_COUNT unix:///run/txproc/server.sock 
Restart=always
RestartSec=60
RuntimeDirectory=txproc
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target #Target the service belongs to (e.g., multi-user.target).


