[Unit]
Description=Solpipe Txproc Bot Relay
After=network.target

[Service]
Type=simple
User=solpipe
Group=solpipe
WorkingDirectory=/var/share/solpipe/txproc
EnvironmentFile=/etc/default/txproc
ExecStart=/usr/bin/solpipe pipeline --fee-payer=$AUTHORIZER $RELAY  -v 
Restart=never

[Install]
WantedBy=multi-user.target #Target the service belongs to (e.g., multi-user.target).
